<html>

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <pantehon-grid-panel-header [columns]="columns" [menuAux]="true" [iconMenu]="'menu'"
        (extraMenuClick)="isMenuOpen = !isMenuOpen">
    </pantehon-grid-panel-header>
    <pantehon-grid-panel [dataColumns]="dataColumns" [gridTemplateColumns]="'repeat(dataColumns.length, 1fr)'"
        [itemTemplate]="cardTpl" (taskMoved)="onTaskMoved($event)">
    </pantehon-grid-panel>

    <ng-template #cardTpl let-item let-columnIndex="columnIndex">
        <pantehon-card [data]="item" [isCompleted]="columnIndex === 3" (click)="openCard(item)"></pantehon-card>
    </ng-template>


    <pantehon-window [(show)]="showModal" [titleBtnClose]="'Cerrar'" [variant]="'info'" [size]="'sm'"
        [titleBtnNext]="'Siguiente'">
        <div title>Título de la ventana</div>
        <div body>Contenido de la ventana</div>
    </pantehon-window>

    <pantheon-side-action-panel [open]="isMenuOpen" (close)="isMenuOpen = false" [actions]=fieldActions>

    </pantheon-side-action-panel>


</body>

</html>